body {
  background-image: url("../imgs/background.png");
  margin: 0 auto;
  font-family: arial;
}

header {
  height: 100px;
  width: 100%;
  background-color: #c4c4c4;
  border-bottom: 1px solid gray;
  box-shadow: 0px 0px 5px #888888;
}

main {
  padding: 10px 50px 10px 50px;
  margin: 50px auto 50px auto;
  background-color: white;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0px 0px 10px gray;
  border: 1px solid #999;
}

.nav {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 20px 0 0;
}

.logo {
  position: relative;
  display: inline;
  float: left;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
	background-color: #2E52AD;
	border-radius: 5px;
	border: 1px solid #143380;
	display: inline;
	color: #ffffff;
  padding: 10px;
	text-decoration: none;
	text-shadow: 0px 1px 0px black;

}

.link {
  color: white;
  padding: 10px;
  margin: 0 20px 0 0;
  text-decoration: none;
  text-shadow: 0px 1px 0px gray;

}

footer {
  text-align: center;
  color: gray;
}

p {
  line-height: 20px;
}

hr {
  color: gray;
  box-shadow: 0px 1px 0px white;
  margin: 20px auto 20px auto;
  width: 50%;
  text-align: center;
}
