body {
  background-image: url("../imgs/background.png");
  margin: 0 auto;
  font-family: arial;
}

header {
  height: 100px;
  width: 100%;
  background-color: #c4c4c4;
  border-bottom: 1px solid gray;
  box-shadow: 0px 0px 5px #888888;
  position: relative;
  display: inline-block;
}

main {
  padding: 10px 50px 10px 50px;
  margin: 50px auto 50px auto;
  background-color: white;
  border-radius: 10px;
  width: 50%;
  box-shadow: 0px 0px 10px gray;
  border: 1px solid #999;
}

#nav {
  float: right;
  valign: middle;
  vertical-align: middle;
  padding: 28px 20px 0 0;
}

#logo {
  padding: 22px 0 0 10px;
  position: absolute;
  vertical-align: middle;
}

#btn {
	background-color: #2E52AD;
	border-radius:5px;
	border: 1px solid #143380;
	display: inline-block;
	color: #ffffff;
	padding: 12px 31px;
	text-decoration: none;
	text-shadow: 0px 1px 0px black;
}

#link {
  color: white;
  text-decoration:none;
  text-shadow:0px 1px 0px gray;
}

footer{
  text-align: center;
  color: gray;
}

p {
  line-height: 20px;
}

a {
  padding: 30px;
}

hr {
  color: gray;
  box-shadow: 0px 1px 0px white;
  margin: 20px auto 20px auto;
  width: 50%;
  text-align: center;
}
