td{
  background: skyblue;
  padding: 10px;

}

div {
  float: left;
  background: skyblue;
  padding: 10px;

}

section {
  overflow: hidden;
}

ul{
  list-style: none;
  padding: 0;
  display: flex;
}

li{
  background: skyblue;
  padding: 10px;

}

/*F E C*/
.even-cols li {
  flex: 1;
}

/*POOP*/

.poop .sidebar {
  width: 200px;
}

.poop .main {
  flex: 2;
  background: hotpink;
}
